/*
* @Author: zlcao
* @Date:   2019-08-19 18:19:43
* @Last Modified by:   zlcao
* @Last Modified time: 2019-08-19 18:20:49
*/
#editor {
    margin: auto;
    width: 80%;
    height: 800px;
    margin-top: 10px;
}
.v-note-wrapper {
    min-height: 80%;
}
#edit-foot {
    position: fixed;
    height: 58px;
    width: 100%;
    line-height: 58px;
    background-color: #FFF;
    bottom: 0px;
    box-shadow: 0 -1px 10px rgba(0,0,0,.03);
    border-top: 1px solid #e8e8e8;
    z-index: 2000;
}
#container {
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    overflow-y: auto;
    background-color: #f0f2f5;
}
input {
    width: 64px;
    height: 32px;
    margin: 10px 0px;
    border-radius: 2px;
    outline-style: none;
    border: 1px solid #ccc;
    background-color: #1890ff;
    color: #FFF;
    letter-spacing: 0.2em;
    text-indent: 0.2em;
    float: right;
    margin-right: 100px;
}