/*
* @Author: zlcao
* @Date:   2019-08-12 15:12:39
* @Last Modified by:   zlcao
* @Last Modified time: 2019-08-13 18:57:52
*/
/*#admin-body{
    background-color: red;
    position: absolute;
    width: 100%;
    height: 100%;
}*/
#admin-body {
    width: 100%;
    height: 100%;
}